$azul:        #00528e;
$gris:        #f6f6f6;
$gris-claro:  shade($gris, 10%);
$gris-medio:  shade($gris, 60%);
$gris-oscuro: shade($gris, 90%);

a {
  color: $azul;
}

body {
  background-color: white;
  //@include background(image-url("/sites/all/themes/mdwa01/a/i/body-pattern.jpg"));
}

.breadcrumb {
  color: $azul;
}

.whitebg {
  background-color: white;
  padding: 1em;
}

/**
 * Header
 */
#top-info {
  color: $azul;
  background-color: $gris;
}
header {
  //background-color: rgba(0,0,0,0.4);
  .intro-text {
    .intro-lead-in {
      //color: white;
      //background-color: rgba(0,0,0, 0.4);
    }
  }
}

/**
 * Navigation
 */
nav.navbar-default {
  background-color: white;
  //background-color: rgba($gris, 0.8);
  //@include background-image(linear-gradient(to right, white, rgba(0,0,0,0.6)));

  .navbar-nav {
    &>li {
      &>a {
        color: $gris-oscuro;
        @media (min-width: 768px) {
          //color: white;
          border-bottom: solid white 3px;
        }
        &:hover {
          @media (min-width: 768px) {
            //color: white;
            //background-color: rgba($azul, 1);
            //@include box-shadow(rgba(0,82,142, 0.6) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
            border-bottom: solid $azul 1px;
          }
        }
        &.active {
          color: $azul;
          @media (min-width: 768px) {
            border-bottom: solid $azul 1px;
          }
        }
      }
    }
  }

  &.navbar-shrink {
    .navbar-nav {
      &>li {
        &>a {
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

/**
 * Main
 */
body.no-front {
  header {
    background-color: $gris;
      h1, h2, h3, h4, h5, h6 {
        color: $azul;
        i {
          color: $gris;
        }
      }
  }
  main {
    .breadcrumb {
      background-color: transparent;
    }
    article#content {
      h1, h2, h3, h4, h5, h6 {
        color: $azul;
        i {
          //color: $gris;
        }
      }
      img {
        max-width: 100%;
      }
    }
  }
}

/**
 * After Content Container
 */
aside#after_content_container {
  background-color: $gris;
  @media (min-width: 992px) {
    background-repeat: repeat-y;
    background-position: top center;
  }
  h2 {
    text-shadow: 0 1px 0 white;
  }
}
aside#after_content_container_2{
  background-color: $gris;
}


/**
 * Triptych
 */
aside#triptych {
  background-color: $gris;
  @include background(image-url("/sites/all/themes/mdwa01/a/i/body-pattern.jpg"));
  h2 {
    text-shadow: 0 1px 0 white;
  }
}

/**
 * Footer
 */
footer {
  background-color: $gris-medio;
  color: white;
  #footer-columns {
   .content {
      color: $gris;
      a {
        color: $gris;
      }
    }
    [class^="icon-"], [class*="icon-"] {
      color: $gris-oscuro;
    }
  }
  #footer {
  }
}

/**
 * Secciones
 */
section.secciones {
  .item {
    background-color: white;

    .more-info {
      background-color: $gris-oscuro;
      color: white;
    }
  }
}

#bigTriangleColor {
  display: block;
  background-color: $gris;
  path {
    //fill: #3498db;
    fill: white;
    stroke: white;
    stroke-width: 2;
  }
}
