$azul:        #00528e;
$gris:        #f6f6f6;
$gris-claro:  shade($gris, 10%);
$gris-medio:  shade($gris, 60%);
$gris-oscuro: shade($gris, 90%);

body {
  background-color: white;
  //@include background(image-url("/sites/all/themes/mdwa01/a/i/body-pattern.jpg"));
}

a {
  color: $azul;
}

strong {
  color: $azul;
}

.breadcrumb {
  color: $azul;
  background: white;
}

.whitebg {
  background-color: white;
  padding: 1em;
}

/**
 * Header
 */
#header-info {
  color: $azul;
  background-color: $gris;
}

/**
 * Navigation
 */
nav.navbar-default {
  background-color: white;
  //background-color: rgba($gris, 0.8);
  //@include background-image(linear-gradient(to right, white, rgba(0,0,0,0.6)));

  .navbar-nav {
    &>li {
      &>a {
        color: $gris-oscuro;
        @media (min-width: 768px) {
          //color: white;
          border-bottom: solid white 3px;
        }
        &:hover {
          @media (min-width: 768px) {
            //color: white;
            //background-color: rgba($azul, 1);
            //@include box-shadow(rgba(0,82,142, 0.6) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
            border-bottom: solid $azul 1px;
          }
        }
        &.active,
        &.active-trail {
          color: $azul;
          @media (min-width: 768px) {
            border-bottom: solid $azul 1px;
          }
        }
      }
    }
  }

  &.navbar-shrink {
    .navbar-nav {
      &>li {
        &>a {
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

/**
 * Article#content
 */

article#content {
  &>header {
    background-color: $gris;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $azul;
    i {
      color: $gris;
    }
  }
}

/**
 * Featured
 */
#featured {
  .call-to-action {
    a.btn {
      background-color: $gris;
    }
  }
}

/**
 * Separador en font page
 */
#bigTriangleColor {
  display: block;
  background-color: $gris;
  path {
    //fill: #3498db;
    fill: white;
    stroke: white;
    stroke-width: 2;
  }
}

/**
 * Actualidad
 */
#actualidad {
  background: $gris;
  h2 {
    color: $gris-medio;
  }
}

/**
 * IBEX35
 */
#ibex35 {
  background: $gris;
  h2 {
    color: $gris-medio;
  }
}

/**
 * Footer columns
 */
#footer-columns {
  background-color: $gris-medio;
  color: white;
  .content {
    color: $gris;
    a {
      color: $gris;
    }
  }
  [class^="icon-"], [class*="icon-"] {
    color: $gris-oscuro;
  }
}

/**
 * Legal
 */
#legal {
  background-color: $gris-medio;
  color: white;
}

/**
 * Related content
 */
#related_content {
  .block {
    color: $gris-medio;
  }
}

/**
 * Social links
 */
.social-links {
  .fa {
    background: $azul;
    color: white;
    padding: 1em;
    @include border-radius(50%);
  }
}
