$azul:        #00528e;
$gris:        #ddd;
$gris-medio:  #7f7f7f;
$gris-oscuro: #333;

body {
  background-color: white;
  @include background(image-url("/sites/all/themes/mdwa01/a/i/body-pattern.jpg"));
}

/**
 * Header
 */
header {
  //background-color: rgba(0,0,0,0.4);
  .intro-text {
    .intro-lead-in {
      //color: white;
      //background-color: rgba(0,0,0, 0.4);
    }
  }
}

/**
 * Navigation
 */
nav.navbar-default {
  //background-color: rgba($gris, 0.8);
  background-color: rgba($gris, 0.8);
  //@include background-image(linear-gradient(to right, white, rgba(0,0,0,0.6)));

  .navbar-nav {
    &>li {
      &>a {
          color: $gris-oscuro;
        @media (min-width: 768px) {
          //color: white;
        }
        &:hover {
          @media (min-width: 768px) {
            color: white;
            background-color: rgba($azul, 1);
            @include box-shadow(rgba(0,82,142, 0.6) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
          }
        }
      }
    }
  }

  &.navbar-shrink {
    .navbar-nav {
      &>li {
        &>a {
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

/**
 * Main
 */
main {
  .breadcrumb {
    //background-color: rgba(white, 0.2);
    background-color: transparent;
    //border-bottom: solid 1px $azul;
    //@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
    //@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
  }
  &.no-front {
    article#content {
      h1#page-title {
        //@include background(image-url("/sites/all/themes/mdwa01/a/i/banner-background.jpg") no-repeat center center / cover);
        @include background(image-url("/sites/all/themes/mdwa01/a/i/fachada-bn.jpg") no-repeat center center / cover);
        color: white;
      }
      img {
        max-width: 100%;
      }
      .container.content {
        //border: solid 25px orange;
        //border-image: url('/sites/all/themes/mdwa01/a/i/ICON BOLITAS 5.jpg');
        @include background(image-url("/sites/all/themes/mdwa01/a/i/ICON BOLITAS 5.jpg") top left);
      }
    }
  }
}

/**
 * After Content Container
 */
aside#after_content_container {
  background-color: white;
  h2 {
    text-shadow: 0 1px 0 white;
  }
}


/**
 * Triptych
 */
aside#triptych {
  background-color: $gris;
  @include background(image-url("/sites/all/themes/mdwa01/a/i/body-pattern.jpg"));
  h2 {
    text-shadow: 0 1px 0 white;
  }
}

/**
 * Footer
 */
footer {
  background-color: $gris-medio;
  color: white;
  #footer-columns {
  }
  #footer {
  }
}

/**
 * Secciones
 */
section.secciones {
  .item {
    background-color: white;

    .more-info {
      background-color: $gris-oscuro;
      color: white;
    }
  }
}
