@import "compass/typography";
@import "compass/typography/vertical_rhythm";


$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

html {
  font-size: 100%;
  line-height: 1.6em;
}

body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

strong {
  font-weight: 700;
}

/**
 * Main
 */
main {
  //@include rhythm;
  margin: 0;
  border: none;
  font-weight: 400;

  .breadcrumb {
    @include adjust-font-size-to(14px);
  }

  &.front {
    @include leading-border(1px,4,16px,solid);
    border: none;
  }
  &.no-front {
    article#content {
      .block {
        @include rhythm;
      }
      h1 { font-size: 2.5rem; }
      h2 { font-size: 2.3125rem; }
      h1#page-title {
        @include leading-border(1px,1,16px,solid);
        @include trailing-border(1px,1,16px,solid);
        @include apply-side-rhythm-border(left,1px,3,16px,solid);
        @include apply-side-rhythm-border(right,1px,3,16px,solid);
        border: none;
      }
      div.container.content {
        @include rhythm-borders;
        padding-top: 0;
        border: none;
        //border-left: solid 3rem orange;
        //border-image: url('/sites/all/themes/mdwa01/a/i/ICON BOLITAS 5.jpg');
        font-size: 1.4375rem;
        line-height: 1.6;
        p {
          @include trailing-border;
          border: none;
        }
      }
      #sidebar_first,
      #sidebar_second {
        @include adjust-font-size-to(10px);
        line-height: 1.5rem;
        h2 { font-size: 1.2rem; }
      }
    }
  }
}

/**
 * After Content
 */
div#after_content {
  @include rhythm;
  margin: 0;
  @include rhythm-borders;
  border: none;
}

/**
 * After Content Container
 */
aside#after_content_container {
  @include rhythm;
  margin: 0;
  @include rhythm-borders;
  border: none;
}

/**
 * Triptych
 */
#triptych {
  @include rhythm;
  margin: 0;
  @include rhythm-borders;
  border: none;
}

/**
 * Footer
 */
footer {
  @include rhythm;
  margin: 0;

  ul {
    li.leaf {
      list-style-image: none;
      list-style-type: none;
      &:before {
        color: $gris-oscuro;
        font-family: "Glyphicons Halflings";
        content: " ";
      }
      a {
        color: white;
      }
    }
  }

  #footer-columns {
    @include adjust-font-size-to(14px);
    @include rhythm-borders;
    padding-left: 0;
    padding-right: 0;
    border: none;
    h2 {
      padding-bottom: 0.3rem;
      border-bottom: solid 1px white;
    }
    .content {
      @include leading-border;
      @include trailing-border;
      border: none;
    }
  }

  #footer {
    @include adjust-font-size-to(12px);
    border-top: solid 1px white;
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Secciones
 */
section.secciones {
  padding-top: 3em;
  .item {
    @include rhythm;
    @include rhythm-borders;
    border: none;
    padding: 3em 2em 7em 2em;

    .more-info {
      @include adjust-font-size-to(14px);
      text-align: center;
      @include rhythm-borders;
    //border: none;
    padding-bottom: 4em;
    padding-right: 7em;
    padding-left: 7em;
    //padding-bottom: 7em;
      .glyphicon {
      }
    }
  }
}

/**
 * Slider
 */
