
$base-font-size: 14px;
$base-line-height: 21px;

@include establish-baseline;

html {
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 { font-size: 2.3em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.3em; }
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  @include rhythm;
}
h2 {
  padding-bottom: 0.5em;
  border-bottom: solid 1px $azul;
}
h3 {
  margin-bottom: 0.5em;
}
strong {
  font-weight: 400;
}

aside {
  @include rhythm;
}

.block {
  @include rhythm-borders;
  border: none;
}

/**
 * Header
 */
#header-info {
  @include adjust-font-size-to(12px);
  //@include rhythm-borders;
  //border: none;
  margin-bottom: 2em;
}

/**
 * Navigation
 */
nav.navbar-default {
  text-transform: uppercase;
  @media (min-width: 768px) {
    @include adjust-font-size-to(11px);
  }
  @media (min-width: 992px) {
    @include adjust-font-size-to(14px);
  }
}

/**
 * Main
 */
main {
  //margin: 0;
  //border: none;
  //font-weight: 300;
}


body {
  main {
    .breadcrumb {
      @include rhythm;
      @include adjust-font-size-to(16px);
    }

    article#content {
      @include rhythm;
      h1#page-title {
        display: inline-block;
        @include adjust-font-size-to(18px);
        @include rhythm-borders;
        margin: 0;
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
      }

      &.pagina {
        header {
          position: relative;
          h1#page-title {
            position: absolute;
            bottom: 1.5em;
            background: rgba(0,0,0,.8);
            color: white;
          }
        }
      }
      
    }

    article#content {
      i {
        padding: 0;
      }
      div.container.content {
        @include rhythm-borders;
        padding-top: 0;
        border: none;
        line-height: 1.8em;
        p {
          @include trailing-border;
          border: none;
          //text-align: justify;
        }
        figcaption {
          p {
            text-align: center;
          }
        }

      }
      #sidebar_first,
      #sidebar_second {
        @include adjust-font-size-to(14px);
        h2 {
          font-size: 1.2em;
        }
        .content {
          @include rhythm;
        }
        #block-block-2 {
          dt {
            display: none;
          }
          #google-map {
            display: none;
          }
        }
      }
    }
  }
}

/**
 * Featured
 */
#featured {
  @include rhythm;
  @include rhythm-borders;
  border: none;
  text-align: center;
  header {
    @include rhythm;
    h1 {
      @include adjust-font-size-to(14px);
      font-weight: 600;
      line-height: 1.4;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
      text-shadow: 0 1px 0 white;
    }
    [class^="icon-"], [class*="icon-"] {
      padding: 0;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.4;
      text-shadow: 0 1px 0 white;
      text-align: center;
    }
  }
  p {
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1.25rem;
  }

  .slogan {
    font-style: italic;
    @include text-shadow($gris-medio 1px 1px 3px);
    color: $azul;
  }

  .call-to-action {
    float: none;
    margin: auto;
    @include rhythm-borders;
    border: none;
  }
}

/**
 * Actualidad e IBEX35
 */
#actualidad,
#ibex35 {
  @include rhythm-borders;
  border: none;
  .block {
    h2 {
      @include adjust-font-size-to(14px);
      font-family: 'Merriweather', serif;
      font-weight: 300;
      text-transform: uppercase;
      //@include adjust-font-size-to(18px);
      @include rhythm;
      margin-top: 0;
      border-bottom: solid 1px $gris-claro;
    }
  }
}

/**
 * IBEX-35
 */
#ibex35 {
  h2 {
    text-align: center;
  }
}

/**
 * Footer columns
 */
#footer-columns {
  @include adjust-font-size-to(12px);
  @include rhythm-borders;
  border: none;
  .block {
    overflow: hidden;
  }
  h2 {
    @include adjust-font-size-to(14px);
    @include rhythm(0);
    text-transform: capitalize;
    padding-bottom: 0.3rem;
    border-bottom: solid 1px white;
  }
  .content {
    @include leading-border;
    @include trailing-border;
    border: none;
  }

  dt {
    text-align: right;
    width: 20%;
    float: left;
    color: $gris-oscuro;
  }
  dd {
    width: 75%;
    float: right;
  }
  ul {
    li.leaf {
      list-style-image: none;
      list-style-type: none;
      &:before {
        color: $gris-oscuro;
        font-family: "Glyphicons Halflings";
        content: " ";
      }
      a {
        color: white;
      }
    }
  }
  img {
    width: 150px;
    vertical-align: top;
  }
  [class^="icon-"], [class*="icon-"] {
    padding: 0;
    font-size: 4em;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
  }
}

/**
 * Legal
 */
#legal {
  @include adjust-font-size-to(12px);
  .block {
    border-top: 1px solid white;
  }
}

/**
 * Related content
 */
#related_content {
  @include adjust-font-size-to(14px);
  .block {
    padding-bottom: 0;
    h2 {
      font-size: 1.2em;
    }
    .content {
      //@include rhythm;
    }
  }
  #block-block-2 {
    dt {
      display: none;
    }
    #google-map {
      display: none;
    }
  }
}

/**
 * Blog
 */
.view-blog {
  .view-content {
    p {
      text-align: justify;
    }
  }
}

#after_content_container,
#after_content_container_2 {

}
#after_content_container_2 {
  .block {
    h2 {
      text-align: center;
    }
  }
}

.teaser {
  //@include rhythm;
  .field-name-body {
    //@include rhythm;
  }
}

.node-pagina {
  ul {
    list-style-position: inside;
    li::before {
      font-family: "Glyphicons Halflings";
      content: "  ";
    }
  }
  figure {
    @include rhythm;
    img {
      margin: auto;
    }
    figcaption {
      @include adjust-font-size-to(12px);
      text-align: center;
    }
  }
}

.noticia,
.blog {
  font-family: 'Merriweather', serif;
  text-align: justify;
  @include rhythm;
  margin-bottom: 0;
  
  header {
    margin-bottom: 0.5em;
    text-align: center;
    h1 {
      @include adjust-font-size-to(35px);
      line-height: 1.5em;
      @include rhythm(0);
    }
    .blog-meta, 
    .noticia-meta {
      text-align: center;
      font-style: italic;
      @include adjust-font-size-to(12px);
    }
    .entradilla {
      p {
        text-align: center;
        font-weight: 300;
        @include adjust-font-size-to(12px);
      }
    }
  }
  &.teaser {
    border-bottom: solid 1px $gris-claro;
    header {
      text-align: left;
      h1 {
        @include adjust-font-size-to(20px);
        line-height: 1.5em;
        text-transform: uppercase;
        @include rhythm(0);
      }
      .blog-meta,
      .noticia-meta {
        text-align: left;
      }
      .entradilla {
        p {
          text-align: left;
        }
      }
    }
    .links {
      text-align: right;
    }
  }

  p {
    text-align: justify;
  }
  figure {
    @include rhythm;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
    }
    figcaption {
      @include adjust-font-size-to(12px);
      text-align: center;
    }
  }
  .field-name-body {
    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
  }
  .links {
    text-align: center;
    @include adjust-font-size-to(12px);
    &.inline {
      display: block;
    }
  }
  /*
  &.teaser::after {
    font-family: "kingthings_flourishesregular";
    content: "O";
    @include adjust-font-size-to(36px);
    text-shadow: 0 1px 0 white;
  }
  */
}

.equipo {
  @include rhythm;
  @include rhythm-borders;
  border-color: $gris-claro;
  @include box-shadow($gris-medio 6px 6px 10px);
  overflow: hidden;
  line-height: 1.8em;
  text-align: center;
  font-style: italic;
  h1 {
    @include adjust-font-size-to(20px);
    @include rhythm(0);
    margin-top: 0;
    //text-align: center;
    @media (min-width: 768px) {
      //text-align: left;
    }
    @media (min-width: 992px) {
      //text-align: left;
    }
  }
  img {
    margin: auto;
    @include rhythm;
    @media (min-width: 768px) {
      margin-top: -2em;
    }
  }
  .social-links {
    @include rhythm;
    text-align: center;
  }
}




.view-id-display-id-page_1 {
  .teaser.blog {
    min-height: 35em;
  }
}

.submitted {
  text-transform: lowercase;
}
