@import "compass/typography";
@import "compass/typography/vertical_rhythm";


$base-font-size: 14px;
$base-line-height: 24px;

@include establish-baseline;

html {
  //font-size: 100%;
  line-height: 1.6rem;
}

body {
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: 700;
}

aside {
  @include rhythm;
}


/**
 * Header
 */
#top-info {
  @include adjust-font-size-to(12px);
  @include rhythm-borders;
  border: none;
  margin-bottom: 2rem;
}
header {
  &.no-front {
    h1#page-title {
      @include leading-border(1px,1,16px,solid);
      @include trailing-border(1px,1,16px,solid);
      @include apply-side-rhythm-border(left,1px,3,16px,solid);
      @include apply-side-rhythm-border(right,1px,3,16px,solid);
      border: none;
      @include background(image-url("/sites/all/themes/mdwa01/a/i/banner-background-2.jpg") no-repeat center center / cover);
      color: white;
      text-align: left;
      font-size: 2.5rem;
    }
  }
}

/**
 * Main
 */
main {
  //@include rhythm;
  margin: 0;
  border: none;
  font-weight: 400;
  .breadcrumb {
    @include adjust-font-size-to(12px);
  }
}

body.no-front {
  main {
    .breadcrumb {
      @include rhythm;
    }
    article#content {
      .block {
        @include rhythm;
      }
      h1 { font-size: 2.5rem; }
      h2 { font-size: 2.3125rem; }

      h1#page-title {
        @include leading-border(1px,1,16px,solid);
        @include trailing-border(1px,1,16px,solid);
        @include apply-side-rhythm-border(left,1px,3,16px,solid);
        @include apply-side-rhythm-border(right,1px,3,16px,solid);
        border: none;
        @include background(image-url("/sites/all/themes/mdwa01/a/i/banner-background-2.jpg") no-repeat center center / cover);
        color: white;
        text-align: left;
        font-size: 2.5rem;
      }

      div.container.content {
        @include rhythm-borders;
        padding-top: 0;
        border: none;
        //font-size: 1.4375rem;
        line-height: 1.6;
        p {
          @include trailing-border;
          border: none;
        }
      }
      #sidebar_first,
      #sidebar_second {
        @include adjust-font-size-to(10px);
        line-height: 1.5rem;
        h2 { font-size: 1.2rem; }
      }
    }
  }
}

/**
 * After Content
 */
div#after_content {
  @include rhythm;
  //margin: 0;
  @include rhythm-borders;
  border: none;
}

/**
 * After Content Container
 */
aside#after_content_container {
  @include rhythm;
  margin: 0;
  @include rhythm-borders;
  border: none;

  .row>div {
    @include rhythm-borders(1px,2,16px,none);
    //border: none;
  }

  #block-views-blog-block-2 {
    h2 {
      font-family: 'Merriweather', serif;
      font-weight: 700;
      color: #666;
      //@include adjust-font-size-to(18px);
      @include rhythm;
      margin-top: 0;
    }
    article.teaser {
      font-family: 'Merriweather', serif;
      text-align: center;
      @include rhythm;
      margin-bottom: 0;
      header {
        text-align: center;
        margin-bottom: 0.5rem;
        h1 {
          text-align: left;
          //@include adjust-font-size-to(18px);
        }
        p.blog-meta {
          font-style: italic;
          @include adjust-font-size-to(12px);
          //text-align: center;
        }
      }
     &::after {
       font-family: "kingthings_flourishesregular";
       content: "O";
       @include adjust-font-size-to(36px);
       text-shadow: 0 1px 0 white;
     }
    }
  }
}

/**
 * Triptych
 */
#triptych {
  @include rhythm;
  margin: 0;
  @include rhythm-borders;
  border: none;
}

/**
 * Footer
 */
footer {
  @include rhythm;
  margin: 0;

  ul {
    li.leaf {
      list-style-image: none;
      list-style-type: none;
      &:before {
        color: $gris-oscuro;
        font-family: "Glyphicons Halflings";
        content: " ";
      }
      a {
        color: white;
      }
    }
  }

  #footer-columns {
    @include adjust-font-size-to(12px);
    @include rhythm-borders;
    padding-left: 0;
    padding-right: 0;
    border: none;
    div {
      overflow: hidden;
    }
    h2 {
      padding-bottom: 0.3rem;
      border-bottom: solid 1px white;
    }
    .content {
      @include leading-border;
      @include trailing-border;
      border: none;
    }

    dt {
      text-align: right;
      width: 20%;
      float: left;
      color: $gris-oscuro;
    }
    dd {
      width: 75%;
      float: right;
    }
  }

  #footer {
    @include adjust-font-size-to(12px);
    border-top: solid 1px white;
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Secciones
 */
section.secciones {
  padding-top: 3em;
  .item {
    @include rhythm;
    @include rhythm-borders;
    border: none;
    padding: 3em 2em 7em 2em;

    .more-info {
      @include adjust-font-size-to(14px);
      text-align: center;
      @include rhythm-borders;
    //border: none;
    padding-bottom: 4em;
    padding-right: 7em;
    padding-left: 7em;
    //padding-bottom: 7em;
      .glyphicon {
      }
    }
  }
}

/**
 * Slider
 */

/**
 * Blog
 */
.view-blog {
  .view-content {
    p {
      text-align: justify;
    }
  }
}
