/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "colors";
@import "typography";

.glyphicon {
  padding: 0.5em;
}

li.leaf {
  padding: 0;
}

input,
textarea,
select {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #acacac;
  box-sizing: border-box;
  color: #666;
  display: block;
  margin-bottom: 1em;
  max-width: 100%;
  padding: 0.375em 0.625em;
}
input[type="submit"] {
  background-color: $azul;
  boder: medium none;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125em;
  padding: 0.275em 0.75em;
  font-weight: 400;
  &:hover {
    background-color: tint($azul, 10%);
  }
}

/**
 * Navigation
 */
nav.navbar-default {
  margin-bottom: 0;
  padding-bottom: 30px;
  border: none;
  .navbar-brand {
    img {
      max-width: 200px;
      margin-top: -7px;
      @media (max-width: 768px) {
        max-width: 250px;
      }
      @media (min-width: 992px) {
        max-width: 300px;
      }
    }
  }
  .navbar-collapse {
    border: none;
  }
  .navbar-nav {
    &>li {
      &>a {
        margin: 0;
      }
    }
  }
}

/**
 * Slider
 */
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0 30px;
}
.banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.banner {
  width: 100%;
  position: relative;
}
.tp-caption.mdwawhitebg {
  font-size:30px;
  line-height:30px;
  font-weight:300;
  font-family:"Open Sans";
  color:rgb(255, 255, 255);
  text-decoration:none;
  background-color:rgba(0, 0, 0, 0.4);
  padding:5px 15px 10px;
  text-shadow:none;
  border-width:0px;
  border-color:rgb(0, 0, 0);
  border-style:none;
}

/**
 * IBEX 35
 */
#tickerIBEX35 {
  @include rhythm;
  .tickerStock {
    width: 100% !important;
    .tickerCont {
      width: 100% !important;
    }
    .tickerLogo {
      display: none;
    }
  }
}
#IBEX35 {
  .logo, .downloadApp {
    display: none;
  }
}

/**
 * Blog
 */
.media-image {
  max-width: 100%;
  //width: 100%;
  height: auto;
}
