@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Transitions
 */
/* line 4, ../../scss/_base.scss */
nav.navbar-default {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 12, ../../scss/_base.scss */
nav.navbar-default .navbar-nav > li > a:hover {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 24, ../../scss/_base.scss */
.cl-effect-1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 29, ../../scss/_base.scss */
.cl-effect-1 a {
  color: #333;
  text-shadow: 0 1px 0 white;
}
/* line 33, ../../scss/_base.scss */
.cl-effect-1 a::before {
  font-family: "kingthings_flourishesregular";
  font-size: 1.8em;
  content: "N";
  margin-right: 10px;
  transform: translateX(20px);
}
/* line 40, ../../scss/_base.scss */
.cl-effect-1 a::after {
  font-family: "kingthings_flourishesregular";
  font-size: 1.8em;
  content: "P";
  margin-left: 10px;
  transform: translateX(-20px);
}
/* line 48, ../../scss/_base.scss */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
}
/* line 54, ../../scss/_base.scss */
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after {
  opacity: 1;
  transform: translateX(0px);
}

/* line 7, ../../scss/_colors.scss */
body {
  background-color: white;
}

/* line 12, ../../scss/_colors.scss */
a {
  color: #00528e;
}

/* line 16, ../../scss/_colors.scss */
strong {
  color: #00528e;
}

/* line 20, ../../scss/_colors.scss */
.breadcrumb {
  color: #00528e;
}

/* line 24, ../../scss/_colors.scss */
.whitebg {
  background-color: white;
  padding: 1em;
}

/**
 * Header
 */
/* line 32, ../../scss/_colors.scss */
#top-info {
  color: #00528e;
  background-color: #f6f6f6;
}

/**
 * Navigation
 */
/* line 49, ../../scss/_colors.scss */
nav.navbar-default {
  background-color: white;
}
/* line 56, ../../scss/_colors.scss */
nav.navbar-default .navbar-nav > li > a {
  color: #181818;
}
@media (min-width: 768px) {
  /* line 56, ../../scss/_colors.scss */
  nav.navbar-default .navbar-nav > li > a {
    border-bottom: solid white 3px;
  }
}
@media (min-width: 768px) {
  /* line 62, ../../scss/_colors.scss */
  nav.navbar-default .navbar-nav > li > a:hover {
    border-bottom: solid #00528e 1px;
  }
}
/* line 70, ../../scss/_colors.scss */
nav.navbar-default .navbar-nav > li > a.active {
  color: #00528e;
}
@media (min-width: 768px) {
  /* line 70, ../../scss/_colors.scss */
  nav.navbar-default .navbar-nav > li > a.active {
    border-bottom: solid #00528e 1px;
  }
}
/* line 84, ../../scss/_colors.scss */
nav.navbar-default.navbar-shrink .navbar-nav > li > a:hover {
  color: white;
}

/**
 * Main
 */
/* line 98, ../../scss/_colors.scss */
body.no-front main .breadcrumb {
  background-color: transparent;
}
/* line 102, ../../scss/_colors.scss */
body.no-front main article#content > header {
  background-color: #f6f6f6;
}
/* line 105, ../../scss/_colors.scss */
body.no-front main article#content h1, body.no-front main article#content h2, body.no-front main article#content h3, body.no-front main article#content h4, body.no-front main article#content h5, body.no-front main article#content h6 {
  color: #00528e;
}
/* line 107, ../../scss/_colors.scss */
body.no-front main article#content h1 i, body.no-front main article#content h2 i, body.no-front main article#content h3 i, body.no-front main article#content h4 i, body.no-front main article#content h5 i, body.no-front main article#content h6 i {
  color: #f6f6f6;
}

/**
 * Features
 */
/* line 120, ../../scss/_colors.scss */
#features .call-to-action a.btn {
  background-color: #f6f6f6;
}

/**
 * After Content Container
 */
/* line 129, ../../scss/_colors.scss */
aside#after_content_container {
  background-color: #f6f6f6;
}
@media (min-width: 992px) {
  /* line 129, ../../scss/_colors.scss */
  aside#after_content_container {
    background-repeat: repeat-y;
    background-position: top center;
  }
}

/* line 136, ../../scss/_colors.scss */
aside#after_content_container_2 {
  background-color: #f6f6f6;
}

/* line 141, ../../scss/_colors.scss */
aside#after_content_container h2,
aside#after_content_container_2 h2 {
  text-shadow: 0 1px 0 white;
  color: #626262;
}

/**
 * Triptych
 */
/* line 151, ../../scss/_colors.scss */
aside#triptych {
  background-color: #f6f6f6;
  background: url(/sites/all/themes/mdwa01/a/i/body-pattern.jpg);
}
/* line 154, ../../scss/_colors.scss */
aside#triptych h2 {
  text-shadow: 0 1px 0 white;
}

/**
 * Footer
 */
/* line 162, ../../scss/_colors.scss */
footer {
  background-color: #626262;
  color: white;
}
/* line 166, ../../scss/_colors.scss */
footer #footer-columns .content {
  color: #f6f6f6;
}
/* line 168, ../../scss/_colors.scss */
footer #footer-columns .content a {
  color: #f6f6f6;
}
/* line 172, ../../scss/_colors.scss */
footer #footer-columns [class^="icon-"], footer #footer-columns [class*="icon-"] {
  color: #181818;
}

/**
 * Secciones
 */
/* line 184, ../../scss/_colors.scss */
section.secciones .item {
  background-color: white;
}
/* line 187, ../../scss/_colors.scss */
section.secciones .item .more-info {
  background-color: #181818;
  color: white;
}

/* line 194, ../../scss/_colors.scss */
#bigTriangleColor {
  display: block;
  background-color: #f6f6f6;
}
/* line 197, ../../scss/_colors.scss */
#bigTriangleColor path {
  fill: white;
  stroke: white;
  stroke-width: 2;
}

/* line 106, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.5em;
}

/* line 13, ../../scss/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 17, ../../scss/_typography.scss */
h1 {
  font-size: 2.5em;
}

/* line 18, ../../scss/_typography.scss */
h2 {
  font-size: 2.3em;
}

/* line 19, ../../scss/_typography.scss */
h3 {
  font-size: 2.1em;
}

/* line 20, ../../scss/_typography.scss */
h4 {
  font-size: 1.8em;
}

/* line 21, ../../scss/_typography.scss */
h5 {
  font-size: 1.5em;
}

/* line 22, ../../scss/_typography.scss */
h6 {
  font-size: 1.3em;
}

/* line 23, ../../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 27, ../../scss/_typography.scss */
h2 {
  padding-bottom: 1em;
  border-bottom: solid 1px #00528e;
}

/* line 31, ../../scss/_typography.scss */
strong {
  font-weight: 700;
}

/* line 35, ../../scss/_typography.scss */
aside {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/**
 * Header
 */
/* line 43, ../../scss/_typography.scss */
#top-info {
  font-size: 0.85714em;
  line-height: 1.75em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
  margin-bottom: 2rem;
}

/**
 * Navigation
 */
/* line 53, ../../scss/_typography.scss */
nav.navbar-default {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 53, ../../scss/_typography.scss */
  nav.navbar-default {
    font-size: 0.71429em;
    line-height: 2.1em;
  }
}
@media (min-width: 992px) {
  /* line 53, ../../scss/_typography.scss */
  nav.navbar-default {
    font-size: 1em;
    line-height: 1.5em;
  }
}

/**
 * Main
 */
/* line 66, ../../scss/_typography.scss */
main {
  margin: 0;
  border: none;
  font-weight: 300;
}

/* line 74, ../../scss/_typography.scss */
body.no-front main .breadcrumb {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  font-size: 1.14286em;
  line-height: 1.3125em;
}
/* line 78, ../../scss/_typography.scss */
body.no-front main article#content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 81, ../../scss/_typography.scss */
body.no-front main article#content h1#page-title {
  display: inline-block;
  font-size: 1.28571em;
  line-height: 2.33333em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  margin: 0;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}
/* line 92, ../../scss/_typography.scss */
body.no-front main article#content i {
  padding: 0;
}
/* line 100, ../../scss/_typography.scss */
body.no-front article#content div.container.content {
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  padding-top: 0;
  border: none;
  line-height: 1.8em;
}
/* line 105, ../../scss/_typography.scss */
body.no-front article#content div.container.content p {
  border-bottom-width: 0.07143em;
  border-bottom-style: solid;
  padding-bottom: 1.42857em;
  border: none;
}
/* line 111, ../../scss/_typography.scss */
body.no-front article#content #sidebar_first,
body.no-front article#content #sidebar_second {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 114, ../../scss/_typography.scss */
body.no-front article#content #sidebar_first h2,
body.no-front article#content #sidebar_second h2 {
  font-size: 1.2em;
}
/* line 117, ../../scss/_typography.scss */
body.no-front article#content #sidebar_first .content,
body.no-front article#content #sidebar_second .content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/**
 * After Content
 */
/* line 127, ../../scss/_typography.scss */
div#after_content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}

/**
 * After Content Container
 */
/* line 136, ../../scss/_typography.scss */
aside#after_content_container,
aside#after_content_container_2 {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin: 0;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}
/* line 142, ../../scss/_typography.scss */
aside#after_content_container .row > div,
aside#after_content_container_2 .row > div {
  border-width: 0.0625em;
  border-style: none;
  padding: 2.5625em;
}

/**
 * Triptych
 */
/* line 151, ../../scss/_typography.scss */
#triptych {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin: 0;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}

/**
 * Footer
 */
/* line 161, ../../scss/_typography.scss */
footer {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin: 0;
}

/* line 165, ../../scss/_typography.scss */
#footer-columns {
  font-size: 0.85714em;
  line-height: 1.75em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  padding-left: 0;
  padding-right: 0;
  border: none;
}
/* line 171, ../../scss/_typography.scss */
#footer-columns div {
  overflow: hidden;
}
/* line 174, ../../scss/_typography.scss */
#footer-columns h2 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-transform: capitalize;
  padding-bottom: 0.3rem;
  border-bottom: solid 1px white;
}
/* line 181, ../../scss/_typography.scss */
#footer-columns .content {
  border-top-width: 0.07143em;
  border-top-style: solid;
  padding-top: 1.42857em;
  border-bottom-width: 0.07143em;
  border-bottom-style: solid;
  padding-bottom: 1.42857em;
  border: none;
}
/* line 187, ../../scss/_typography.scss */
#footer-columns dt {
  text-align: right;
  width: 20%;
  float: left;
  color: #181818;
}
/* line 193, ../../scss/_typography.scss */
#footer-columns dd {
  width: 75%;
  float: right;
}
/* line 198, ../../scss/_typography.scss */
#footer-columns ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
/* line 201, ../../scss/_typography.scss */
#footer-columns ul li.leaf:before {
  color: #181818;
  font-family: "Glyphicons Halflings";
  content: " ";
}
/* line 206, ../../scss/_typography.scss */
#footer-columns ul li.leaf a {
  color: white;
}
/* line 211, ../../scss/_typography.scss */
#footer-columns img {
  width: 150px;
  vertical-align: top;
}
/* line 215, ../../scss/_typography.scss */
#footer-columns [class^="icon-"], #footer-columns [class*="icon-"] {
  padding: 0;
  font-size: 4em;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

/* line 223, ../../scss/_typography.scss */
#footer {
  font-size: 0.85714em;
  line-height: 1.75em;
  border-top: solid 1px white;
  padding-left: 0;
  padding-right: 0;
}

/**
 * Features
 */
/* line 234, ../../scss/_typography.scss */
#features header {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 236, ../../scss/_typography.scss */
#features header h1 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  text-shadow: 0 1px 0 white;
  text-align: center;
}
/* line 245, ../../scss/_typography.scss */
#features header [class^="icon-"], #features header [class*="icon-"] {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  text-shadow: 0 1px 0 white;
  text-align: center;
}
/* line 254, ../../scss/_typography.scss */
#features p {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}
/* line 260, ../../scss/_typography.scss */
#features .call-to-action {
  float: none;
  margin: auto;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}

/**
 * Blog
 */
/* line 273, ../../scss/_typography.scss */
.view-blog .view-content p {
  text-align: justify;
}

/* line 282, ../../scss/_typography.scss */
#after_content_container .block h2,
#after_content_container_2 .block h2 {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-top: 0;
  border-bottom: solid 1px #dddddd;
}

/* line 296, ../../scss/_typography.scss */
#after_content_container_2 .block h2 {
  text-align: center;
}

/* line 304, ../../scss/_typography.scss */
.node-pagina ul {
  list-style-position: inside;
}
/* line 306, ../../scss/_typography.scss */
.node-pagina ul li::before {
  font-family: "Glyphicons Halflings";
  content: "  ";
}

/* line 313, ../../scss/_typography.scss */
.noticia,
.blog {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-bottom: 0;
}
/* line 320, ../../scss/_typography.scss */
.noticia header,
.blog header {
  margin-bottom: 0.5em;
  text-align: left;
}
/* line 323, ../../scss/_typography.scss */
.noticia header h1,
.blog header h1 {
  font-size: 1.42857em;
  line-height: 2.1em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-transform: none;
}
/* line 329, ../../scss/_typography.scss */
.noticia header p.blog-meta,
.noticia header p.noticia-meta,
.blog header p.blog-meta,
.blog header p.noticia-meta {
  font-style: italic;
  font-size: 0.85714em;
  line-height: 1.75em;
}
/* line 334, ../../scss/_typography.scss */
.noticia header .entradilla,
.blog header .entradilla {
  font-weight: 300;
  font-size: 0.85714em;
  line-height: 1.75em;
}
/* line 339, ../../scss/_typography.scss */
.noticia p,
.blog p {
  text-align: left;
}
/* line 342, ../../scss/_typography.scss */
.noticia figure,
.blog figure {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 344, ../../scss/_typography.scss */
.noticia figure img,
.blog figure img {
  max-width: 100%;
  height: auto;
}
/* line 349, ../../scss/_typography.scss */
.noticia figure figcaption,
.blog figure figcaption {
  font-size: 0.85714em;
  line-height: 1.75em;
}
/* line 353, ../../scss/_typography.scss */
.noticia.teaser::after,
.blog.teaser::after {
  font-family: "kingthings_flourishesregular";
  content: "O";
  font-size: 2.57143em;
  line-height: 1.16667em;
  text-shadow: 0 1px 0 white;
}

/* line 361, ../../scss/_typography.scss */
.blog h1 {
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 365, ../../scss/_typography.scss */
.blog .field-name-body {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 367, ../../scss/_typography.scss */
.blog .field-name-body img {
  display: block;
  margin: 0 auto;
}

/* line 374, ../../scss/_typography.scss */
.equipo {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  line-height: 1.8em;
}
/* line 377, ../../scss/_typography.scss */
.equipo h1 {
  font-size: 1.42857em;
  line-height: 2.1em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  margin-top: 0;
  font-style: italic;
}

/* line 16, ../../scss/screen.scss */
.glyphicon {
  padding: 0.5em;
}

/* line 20, ../../scss/screen.scss */
li.leaf {
  padding: 0;
}

/**
 * Navigation
 */
/* line 27, ../../scss/screen.scss */
nav.navbar-default {
  margin-bottom: 0;
  padding-bottom: 30px;
  border: none;
}
/* line 32, ../../scss/screen.scss */
nav.navbar-default .navbar-brand img {
  max-width: 200px;
  margin-top: -7px;
}
@media (max-width: 768px) {
  /* line 32, ../../scss/screen.scss */
  nav.navbar-default .navbar-brand img {
    max-width: 250px;
  }
}
@media (min-width: 992px) {
  /* line 32, ../../scss/screen.scss */
  nav.navbar-default .navbar-brand img {
    max-width: 300px;
  }
}
/* line 43, ../../scss/screen.scss */
nav.navbar-default .navbar-collapse {
  border: none;
}
/* line 48, ../../scss/screen.scss */
nav.navbar-default .navbar-nav > li > a {
  margin: 0;
}

/**
 * Slider
 */
/* line 58, ../../scss/screen.scss */
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0 30px;
}

/* line 63, ../../scss/screen.scss */
.banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}

/* line 68, ../../scss/screen.scss */
.banner {
  width: 100%;
  position: relative;
}

/* line 72, ../../scss/screen.scss */
.tp-caption.mdwawhitebg {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 15px 10px;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

/**
 * IBEX 35
 */
/* line 90, ../../scss/screen.scss */
#tickerIBEX35 {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 92, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock {
  width: 100% !important;
}
/* line 94, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock .tickerCont {
  width: 100% !important;
}
/* line 97, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock .tickerLogo {
  display: none;
}

/* line 103, ../../scss/screen.scss */
#IBEX35 .logo, #IBEX35 .downloadApp {
  display: none;
}
