@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Transitions
 */
/* line 4, ../../scss/_base.scss */
nav.navbar-default {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 12, ../../scss/_base.scss */
nav.navbar-default .navbar-nav > li > a:hover {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 24, ../../scss/_base.scss */
.cl-effect-1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 29, ../../scss/_base.scss */
.cl-effect-1 a {
  color: #333;
  text-shadow: 0 1px 0 white;
}
/* line 33, ../../scss/_base.scss */
.cl-effect-1 a::before {
  font-family: "kingthings_flourishesregular";
  font-size: 1.8em;
  content: "N";
  margin-right: 10px;
  transform: translateX(20px);
}
/* line 40, ../../scss/_base.scss */
.cl-effect-1 a::after {
  font-family: "kingthings_flourishesregular";
  font-size: 1.8em;
  content: "P";
  margin-left: 10px;
  transform: translateX(-20px);
}
/* line 48, ../../scss/_base.scss */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
}
/* line 54, ../../scss/_base.scss */
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after {
  opacity: 1;
  transform: translateX(0px);
}

/* line 6, ../../scss/_colors.scss */
a {
  color: #00528e;
}

/* line 10, ../../scss/_colors.scss */
body {
  background-color: white;
}

/**
 * Header
 */
/**
 * Navigation
 */
/* line 31, ../../scss/_colors.scss */
nav.navbar-default {
  background-color: rgba(221, 221, 221, 0.8);
}
/* line 38, ../../scss/_colors.scss */
nav.navbar-default .navbar-nav > li > a {
  color: #333;
}
@media (min-width: 768px) {
  /* line 43, ../../scss/_colors.scss */
  nav.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #00528e;
  }
}
/* line 50, ../../scss/_colors.scss */
nav.navbar-default .navbar-nav > li > a.active {
  color: #00528e;
}
/* line 52, ../../scss/_colors.scss */
nav.navbar-default .navbar-nav > li > a.active:hover {
  color: white;
}
/* line 64, ../../scss/_colors.scss */
nav.navbar-default.navbar-shrink .navbar-nav > li > a:hover {
  color: white;
}

/**
 * Main
 */
/* line 77, ../../scss/_colors.scss */
main .breadcrumb {
  background-color: transparent;
}
/* line 86, ../../scss/_colors.scss */
main.no-front article#content h1#page-title {
  background: url(/sites/all/themes/mdwa01/a/i/banner-background-2.jpg) no-repeat center center/cover;
  color: white;
}
/* line 92, ../../scss/_colors.scss */
main.no-front article#content img {
  max-width: 100%;
}
/* line 95, ../../scss/_colors.scss */
main.no-front article#content .container.content {
  background: url(/sites/all/themes/mdwa01/a/i/ICON BOLITAS 5.jpg) top left;
}

/**
 * After Content Container
 */
/* line 107, ../../scss/_colors.scss */
aside#after_content_container {
  background-color: #eee;
}
@media (min-width: 992px) {
  /* line 107, ../../scss/_colors.scss */
  aside#after_content_container {
    background: #eee url(/sites/all/themes/mdwa01/a/i/separador-griis.png);
    background-repeat: repeat-y;
    background-position: top center;
  }
}
/* line 114, ../../scss/_colors.scss */
aside#after_content_container h2 {
  text-shadow: 0 1px 0 white;
}

/**
 * Triptych
 */
/* line 123, ../../scss/_colors.scss */
aside#triptych {
  background-color: #ddd;
  background: url(/sites/all/themes/mdwa01/a/i/body-pattern.jpg);
}
/* line 126, ../../scss/_colors.scss */
aside#triptych h2 {
  text-shadow: 0 1px 0 white;
}

/**
 * Footer
 */
/* line 134, ../../scss/_colors.scss */
footer {
  background-color: #7f7f7f;
  color: white;
}
/* line 138, ../../scss/_colors.scss */
footer #footer-columns .content {
  color: #ddd;
}
/* line 140, ../../scss/_colors.scss */
footer #footer-columns .content a {
  color: #ddd;
}
/* line 144, ../../scss/_colors.scss */
footer #footer-columns [class^="icon-"], footer #footer-columns [class*="icon-"] {
  color: #333;
}

/**
 * Secciones
 */
/* line 156, ../../scss/_colors.scss */
section.secciones .item {
  background-color: white;
}
/* line 159, ../../scss/_colors.scss */
section.secciones .item .more-info {
  background-color: #333;
  color: white;
}

/* line 166, ../../scss/_colors.scss */
#bigTriangleColor {
  display: block;
  background-color: #eee;
}
/* line 169, ../../scss/_colors.scss */
#bigTriangleColor path {
  fill: white;
  stroke: white;
  stroke-width: 2;
}

/* line 106, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 10, ../../scss/_typography.scss */
html {
  font-size: 100%;
  line-height: 1.6rem;
}

/* line 15, ../../scss/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 19, ../../scss/_typography.scss */
strong {
  font-weight: 700;
}

/**
 * Main
 */
/* line 26, ../../scss/_typography.scss */
main {
  margin: 0;
  border: none;
  font-weight: 400;
}
/* line 32, ../../scss/_typography.scss */
main .breadcrumb {
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 36, ../../scss/_typography.scss */
main.front {
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 5.9375em;
  border: none;
}
/* line 42, ../../scss/_typography.scss */
main.no-front article#content .block {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 45, ../../scss/_typography.scss */
main.no-front article#content h1 {
  font-size: 2.5rem;
}
/* line 46, ../../scss/_typography.scss */
main.no-front article#content h2 {
  font-size: 2.3125rem;
}
/* line 47, ../../scss/_typography.scss */
main.no-front article#content h1#page-title {
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 1.4375em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 1.4375em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 4.4375em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 4.4375em;
  border: none;
}
/* line 54, ../../scss/_typography.scss */
main.no-front article#content div.container.content {
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  padding-top: 0;
  border: none;
  font-size: 1.4375rem;
  line-height: 1.6;
}
/* line 62, ../../scss/_typography.scss */
main.no-front article#content div.container.content p {
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 1.4375em;
  border: none;
}
/* line 67, ../../scss/_typography.scss */
main.no-front article#content #sidebar_first,
main.no-front article#content #sidebar_second {
  font-size: 0.625em;
  line-height: 2.4em;
  line-height: 1.5rem;
}
/* line 71, ../../scss/_typography.scss */
main.no-front article#content #sidebar_first h2,
main.no-front article#content #sidebar_second h2 {
  font-size: 1.2rem;
}

/**
 * After Content
 */
/* line 80, ../../scss/_typography.scss */
div#after_content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin: 0;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
}

/**
 * After Content Container
 */
/* line 90, ../../scss/_typography.scss */
aside#after_content_container {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin: 0;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
}
/* line 96, ../../scss/_typography.scss */
aside#after_content_container .row > div {
  border-width: 0.0625em;
  border-style: none;
  padding: 2.9375em;
}
/* line 102, ../../scss/_typography.scss */
aside#after_content_container #block-views-blog-block-2 h2 {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-top: 0;
}
/* line 108, ../../scss/_typography.scss */
aside#after_content_container #block-views-blog-block-2 article.teaser {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-bottom: 0;
}
/* line 113, ../../scss/_typography.scss */
aside#after_content_container #block-views-blog-block-2 article.teaser header {
  margin-bottom: 0.5rem;
}
/* line 115, ../../scss/_typography.scss */
aside#after_content_container #block-views-blog-block-2 article.teaser header h1 {
  font-size: 1.125em;
  line-height: 1.33333em;
}
/* line 118, ../../scss/_typography.scss */
aside#after_content_container #block-views-blog-block-2 article.teaser header p.blog-meta {
  font-style: italic;
  font-size: 0.75em;
  line-height: 2em;
  text-align: center;
}
/* line 124, ../../scss/_typography.scss */
aside#after_content_container #block-views-blog-block-2 article.teaser::after {
  font-family: "kingthings_flourishesregular";
  content: "O";
  font-size: 2.25em;
  line-height: 1.33333em;
  text-shadow: 0 1px 0 white;
}

/**
 * Triptych
 */
/* line 137, ../../scss/_typography.scss */
#triptych {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin: 0;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
}

/**
 * Footer
 */
/* line 147, ../../scss/_typography.scss */
footer {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin: 0;
}
/* line 152, ../../scss/_typography.scss */
footer ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
/* line 155, ../../scss/_typography.scss */
footer ul li.leaf:before {
  color: #333;
  font-family: "Glyphicons Halflings";
  content: "î‚€ ";
}
/* line 160, ../../scss/_typography.scss */
footer ul li.leaf a {
  color: white;
}
/* line 166, ../../scss/_typography.scss */
footer #footer-columns {
  font-size: 0.75em;
  line-height: 2em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  padding-left: 0;
  padding-right: 0;
  border: none;
}
/* line 172, ../../scss/_typography.scss */
footer #footer-columns div {
  overflow: hidden;
}
/* line 175, ../../scss/_typography.scss */
footer #footer-columns h2 {
  padding-bottom: 0.3rem;
  border-bottom: solid 1px white;
}
/* line 179, ../../scss/_typography.scss */
footer #footer-columns .content {
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 1.4375em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 1.4375em;
  border: none;
}
/* line 185, ../../scss/_typography.scss */
footer #footer-columns dt {
  text-align: right;
  width: 20%;
  float: left;
  color: #333;
}
/* line 191, ../../scss/_typography.scss */
footer #footer-columns dd {
  width: 75%;
  float: right;
}
/* line 197, ../../scss/_typography.scss */
footer #footer {
  font-size: 0.75em;
  line-height: 2em;
  border-top: solid 1px white;
  padding-left: 0;
  padding-right: 0;
}

/**
 * Secciones
 */
/* line 208, ../../scss/_typography.scss */
section.secciones {
  padding-top: 3em;
}
/* line 210, ../../scss/_typography.scss */
section.secciones .item {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  padding: 3em 2em 7em 2em;
}
/* line 216, ../../scss/_typography.scss */
section.secciones .item .more-info {
  font-size: 0.875em;
  line-height: 1.71429em;
  text-align: center;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  padding-bottom: 4em;
  padding-right: 7em;
  padding-left: 7em;
}

/**
 * Slider
 */
/**
 * Blog
 */
/* line 240, ../../scss/_typography.scss */
.view-blog .view-content p {
  text-align: justify;
}

/* line 20, ../../scss/screen.scss */
.glyphicon {
  padding: 0.5em;
}

/* line 24, ../../scss/screen.scss */
li.leaf {
  padding: 0;
}

/**
 * Navigation
 */
/* line 33, ../../scss/screen.scss */
nav.navbar-default {
  margin-bottom: 0;
  padding-bottom: 30px;
  border-bottom: none;
}
/* line 39, ../../scss/screen.scss */
nav.navbar-default .navbar-brand img {
  max-width: 200px;
  margin-top: -7px;
}
@media (max-width: 768px) {
  /* line 39, ../../scss/screen.scss */
  nav.navbar-default .navbar-brand img {
    max-width: 250px;
  }
}
@media (min-width: 992px) {
  /* line 39, ../../scss/screen.scss */
  nav.navbar-default .navbar-brand img {
    max-width: 300px;
  }
}
/* line 52, ../../scss/screen.scss */
nav.navbar-default .navbar-collapse {
  border: none;
}
/* line 58, ../../scss/screen.scss */
nav.navbar-default .navbar-nav > li > a {
  margin: 0;
}
@media (min-width: 768px) {
  /* line 60, ../../scss/screen.scss */
  nav.navbar-default .navbar-nav > li > a:hover {
    padding-top: 45px;
    margin-bottom: -30px;
  }
}

/**
 * Header
 */
/* line 86, ../../scss/screen.scss */
header {
  margin-bottom: 3.75rem;
  background-size: cover;
  background-attachment: scroll;
  text-align: center;
}
/* line 93, ../../scss/screen.scss */
header .intro-text {
  width: 50%;
  margin: 0 auto;
  padding: 5em 0;
  font-size: 2.625em;
  line-height: 1.14286em;
  line-height: 1.8em;
}

/**
 * Main
 */
/* line 106, ../../scss/screen.scss */
main.no-front .breadcrumb {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 109, ../../scss/screen.scss */
main.no-front article#content {
  margin-top: -3.75rem;
}

/**
 * Footer
 */
/* line 117, ../../scss/screen.scss */
footer {
  margin-bottom: 0;
}
/* line 119, ../../scss/screen.scss */
footer img {
  width: 80px;
  height: 80px;
  vertical-align: top;
}
/* line 125, ../../scss/screen.scss */
footer [class^="icon-"], footer [class*="icon-"] {
  padding: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
  text-shadow: 0 1px 0 white;
  text-align: center;
}

/**
 * Secciones
 */
/* line 139, ../../scss/screen.scss */
section.secciones .item {
  position: relative;
  overflow: hidden;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  padding: 3em 2em 7em 2em;
}
/* line 147, ../../scss/screen.scss */
section.secciones .item .more-info {
  position: absolute;
  right: -9em;
  bottom: -3em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  padding-bottom: 4em;
  padding-right: 7em;
  padding-left: 7em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 164, ../../scss/screen.scss */
#features header {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 166, ../../scss/screen.scss */
#features header h1 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  text-shadow: 0 1px 0 white;
  text-align: center;
}
/* line 175, ../../scss/screen.scss */
#features header [class^="icon-"], #features header [class*="icon-"] {
  padding: 0;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.4;
  text-shadow: 0 1px 0 white;
  text-align: center;
}
/* line 184, ../../scss/screen.scss */
#features p {
  font-size: 1.4375rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-align: center;
}
/* line 192, ../../scss/screen.scss */
#features img {
  max-width: 100%;
}

/* line 201, ../../scss/screen.scss */
#tickerIBEX35 {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 203, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock {
  width: 100% !important;
}
/* line 205, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock .tickerCont {
  width: 100% !important;
}
/* line 208, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock .tickerLogo {
  display: none;
}

/* line 214, ../../scss/screen.scss */
#IBEX35 .logo, #IBEX35 .downloadApp {
  display: none;
}
