@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Transitions
 */
/* line 4, ../../scss/_base.scss */
nav.navbar-default {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 12, ../../scss/_base.scss */
nav.navbar-default .navbar-nav > li > a:hover {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 24, ../../scss/_base.scss */
.cl-effect-1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 29, ../../scss/_base.scss */
.cl-effect-1 a {
  color: #333;
  text-shadow: 0 1px 0 white;
}
/* line 33, ../../scss/_base.scss */
.cl-effect-1 a::before {
  font-family: "kingthings_flourishesregular";
  font-size: 1.8em;
  content: "N";
  margin-right: 10px;
  transform: translateX(20px);
}
/* line 40, ../../scss/_base.scss */
.cl-effect-1 a::after {
  font-family: "kingthings_flourishesregular";
  font-size: 1.8em;
  content: "P";
  margin-left: 10px;
  transform: translateX(-20px);
}
/* line 48, ../../scss/_base.scss */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
}
/* line 54, ../../scss/_base.scss */
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after {
  opacity: 1;
  transform: translateX(0px);
}

/* line 7, ../../scss/_colors.scss */
body {
  background-color: white;
}

/* line 12, ../../scss/_colors.scss */
a {
  color: #00528e;
}

/* line 16, ../../scss/_colors.scss */
strong {
  color: #00528e;
}

/* line 20, ../../scss/_colors.scss */
.breadcrumb {
  color: #00528e;
  background: white;
}

/* line 25, ../../scss/_colors.scss */
.whitebg {
  background-color: white;
  padding: 1em;
}

/**
 * Header
 */
/* line 33, ../../scss/_colors.scss */
#header-info {
  color: #00528e;
  background-color: #f6f6f6;
}

/**
 * Navigation
 */
/* line 41, ../../scss/_colors.scss */
nav.navbar-default {
  background-color: white;
}
/* line 48, ../../scss/_colors.scss */
nav.navbar-default .navbar-nav > li > a {
  color: #181818;
}
@media (min-width: 768px) {
  /* line 48, ../../scss/_colors.scss */
  nav.navbar-default .navbar-nav > li > a {
    border-bottom: solid white 3px;
  }
}
@media (min-width: 768px) {
  /* line 54, ../../scss/_colors.scss */
  nav.navbar-default .navbar-nav > li > a:hover {
    border-bottom: solid #00528e 1px;
  }
}
/* line 62, ../../scss/_colors.scss */
nav.navbar-default .navbar-nav > li > a.active, nav.navbar-default .navbar-nav > li > a.active-trail {
  color: #00528e;
}
@media (min-width: 768px) {
  /* line 62, ../../scss/_colors.scss */
  nav.navbar-default .navbar-nav > li > a.active, nav.navbar-default .navbar-nav > li > a.active-trail {
    border-bottom: solid #00528e 1px;
  }
}
/* line 77, ../../scss/_colors.scss */
nav.navbar-default.navbar-shrink .navbar-nav > li > a:hover {
  color: white;
}

/**
 * Article#content
 */
/* line 91, ../../scss/_colors.scss */
article#content > header {
  background-color: #f6f6f6;
}
/* line 94, ../../scss/_colors.scss */
article#content h1, article#content h2, article#content h3, article#content h4, article#content h5, article#content h6 {
  color: #00528e;
}
/* line 96, ../../scss/_colors.scss */
article#content h1 i, article#content h2 i, article#content h3 i, article#content h4 i, article#content h5 i, article#content h6 i {
  color: #f6f6f6;
}

/**
 * Featured
 */
/* line 107, ../../scss/_colors.scss */
#featured .call-to-action a.btn {
  background-color: #f6f6f6;
}

/**
 * Separador en font page
 */
/* line 116, ../../scss/_colors.scss */
#bigTriangleColor {
  display: block;
  background-color: #f6f6f6;
}
/* line 119, ../../scss/_colors.scss */
#bigTriangleColor path {
  fill: white;
  stroke: white;
  stroke-width: 2;
}

/**
 * Actualidad
 */
/* line 130, ../../scss/_colors.scss */
#actualidad {
  background: #f6f6f6;
}
/* line 132, ../../scss/_colors.scss */
#actualidad h2 {
  color: #626262;
}

/**
 * IBEX35
 */
/* line 140, ../../scss/_colors.scss */
#ibex35 {
  background: #f6f6f6;
}
/* line 142, ../../scss/_colors.scss */
#ibex35 h2 {
  color: #626262;
}

/**
 * Footer columns
 */
/* line 150, ../../scss/_colors.scss */
#footer-columns {
  background-color: #626262;
  color: white;
}
/* line 153, ../../scss/_colors.scss */
#footer-columns .content {
  color: #f6f6f6;
}
/* line 155, ../../scss/_colors.scss */
#footer-columns .content a {
  color: #f6f6f6;
}
/* line 159, ../../scss/_colors.scss */
#footer-columns [class^="icon-"], #footer-columns [class*="icon-"] {
  color: #181818;
}

/**
 * Legal
 */
/* line 167, ../../scss/_colors.scss */
#legal {
  background-color: #626262;
  color: white;
}

/* line 106, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.5em;
}

/* line 13, ../../scss/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* line 18, ../../scss/_typography.scss */
h1 {
  font-size: 2.3em;
}

/* line 19, ../../scss/_typography.scss */
h2 {
  font-size: 2.1em;
}

/* line 20, ../../scss/_typography.scss */
h3 {
  font-size: 1.9em;
}

/* line 21, ../../scss/_typography.scss */
h4 {
  font-size: 1.7em;
}

/* line 22, ../../scss/_typography.scss */
h5 {
  font-size: 1.5em;
}

/* line 23, ../../scss/_typography.scss */
h6 {
  font-size: 1.3em;
}

/* line 24, ../../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 28, ../../scss/_typography.scss */
h2 {
  padding-bottom: 0.5em;
  border-bottom: solid 1px #00528e;
}

/* line 32, ../../scss/_typography.scss */
h3 {
  margin-bottom: 0.5em;
}

/* line 35, ../../scss/_typography.scss */
strong {
  font-weight: 400;
}

/* line 39, ../../scss/_typography.scss */
aside {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 43, ../../scss/_typography.scss */
.block {
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}

/**
 * Header
 */
/* line 51, ../../scss/_typography.scss */
#header-info {
  font-size: 0.85714em;
  line-height: 1.75em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
  margin-bottom: 2em;
}

/**
 * Navigation
 */
/* line 61, ../../scss/_typography.scss */
nav.navbar-default {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 61, ../../scss/_typography.scss */
  nav.navbar-default {
    font-size: 0.78571em;
    line-height: 1.90909em;
  }
}
@media (min-width: 992px) {
  /* line 61, ../../scss/_typography.scss */
  nav.navbar-default {
    font-size: 1em;
    line-height: 1.5em;
  }
}

/**
 * Main
 */
/* line 74, ../../scss/_typography.scss */
main {
  margin: 0;
  border: none;
}

/* line 83, ../../scss/_typography.scss */
body main .breadcrumb {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  font-size: 1.14286em;
  line-height: 1.3125em;
}
/* line 87, ../../scss/_typography.scss */
body main article#content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 95, ../../scss/_typography.scss */
body main article#content h1#page-title {
  display: inline-block;
  font-size: 1.28571em;
  line-height: 2.33333em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  margin: 0;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}
/* line 106, ../../scss/_typography.scss */
body main article#content i {
  padding: 0;
}
/* line 114, ../../scss/_typography.scss */
body article#content div.container.content {
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  padding-top: 0;
  border: none;
  line-height: 1.8em;
}
/* line 119, ../../scss/_typography.scss */
body article#content div.container.content p {
  border-bottom-width: 0.07143em;
  border-bottom-style: solid;
  padding-bottom: 1.42857em;
  border: none;
  text-align: justify;
}
/* line 125, ../../scss/_typography.scss */
body article#content div.container.content figcaption p {
  text-align: center;
}
/* line 131, ../../scss/_typography.scss */
body article#content #sidebar_first,
body article#content #sidebar_second {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 134, ../../scss/_typography.scss */
body article#content #sidebar_first h2,
body article#content #sidebar_second h2 {
  font-size: 1.2em;
}
/* line 137, ../../scss/_typography.scss */
body article#content #sidebar_first .content,
body article#content #sidebar_second .content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 141, ../../scss/_typography.scss */
body article#content #sidebar_first #block-block-2 dt,
body article#content #sidebar_second #block-block-2 dt {
  display: none;
}
/* line 144, ../../scss/_typography.scss */
body article#content #sidebar_first #block-block-2 #google-map,
body article#content #sidebar_second #block-block-2 #google-map {
  display: none;
}

/**
 * Featured
 */
/* line 155, ../../scss/_typography.scss */
#featured {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
  text-align: center;
}
/* line 160, ../../scss/_typography.scss */
#featured header {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 162, ../../scss/_typography.scss */
#featured header h1 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  text-shadow: 0 1px 0 white;
}
/* line 170, ../../scss/_typography.scss */
#featured header [class^="icon-"], #featured header [class*="icon-"] {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  text-shadow: 0 1px 0 white;
  text-align: center;
}
/* line 179, ../../scss/_typography.scss */
#featured p {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}
/* line 185, ../../scss/_typography.scss */
#featured .call-to-action {
  float: none;
  margin: auto;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}

/**
 * Actualidad e IBEX35
 */
/* line 196, ../../scss/_typography.scss */
#actualidad,
#ibex35 {
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}
/* line 201, ../../scss/_typography.scss */
#actualidad .block h2,
#ibex35 .block h2 {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-top: 0;
  border-bottom: solid 1px #dddddd;
}

/**
 * IBEX-35
 */
/* line 218, ../../scss/_typography.scss */
#ibex35 h2 {
  text-align: center;
}

/**
 * Footer columns
 */
/* line 226, ../../scss/_typography.scss */
#footer-columns {
  font-size: 0.85714em;
  line-height: 1.75em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.42857em;
  border: none;
}
/* line 230, ../../scss/_typography.scss */
#footer-columns .block {
  overflow: hidden;
}
/* line 233, ../../scss/_typography.scss */
#footer-columns h2 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-transform: capitalize;
  padding-bottom: 0.3rem;
  border-bottom: solid 1px white;
}
/* line 240, ../../scss/_typography.scss */
#footer-columns .content {
  border-top-width: 0.07143em;
  border-top-style: solid;
  padding-top: 1.42857em;
  border-bottom-width: 0.07143em;
  border-bottom-style: solid;
  padding-bottom: 1.42857em;
  border: none;
}
/* line 246, ../../scss/_typography.scss */
#footer-columns dt {
  text-align: right;
  width: 20%;
  float: left;
  color: #181818;
}
/* line 252, ../../scss/_typography.scss */
#footer-columns dd {
  width: 75%;
  float: right;
}
/* line 257, ../../scss/_typography.scss */
#footer-columns ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
/* line 260, ../../scss/_typography.scss */
#footer-columns ul li.leaf:before {
  color: #181818;
  font-family: "Glyphicons Halflings";
  content: " ";
}
/* line 265, ../../scss/_typography.scss */
#footer-columns ul li.leaf a {
  color: white;
}
/* line 270, ../../scss/_typography.scss */
#footer-columns img {
  width: 150px;
  vertical-align: top;
}
/* line 274, ../../scss/_typography.scss */
#footer-columns [class^="icon-"], #footer-columns [class*="icon-"] {
  padding: 0;
  font-size: 4em;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

/**
 * Legal
 */
/* line 286, ../../scss/_typography.scss */
#legal {
  font-size: 0.85714em;
  line-height: 1.75em;
}
/* line 288, ../../scss/_typography.scss */
#legal .block {
  border-top: 1px solid white;
}

/**
 * Related content
 */
/* line 296, ../../scss/_typography.scss */
#related_content {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 298, ../../scss/_typography.scss */
#related_content .block {
  padding-bottom: 0;
}
/* line 300, ../../scss/_typography.scss */
#related_content .block h2 {
  font-size: 1.2em;
}
/* line 308, ../../scss/_typography.scss */
#related_content #block-block-2 dt {
  display: none;
}
/* line 311, ../../scss/_typography.scss */
#related_content #block-block-2 #google-map {
  display: none;
}

/**
 * Blog
 */
/* line 322, ../../scss/_typography.scss */
.view-blog .view-content p {
  text-align: justify;
}

/* line 334, ../../scss/_typography.scss */
#after_content_container_2 .block h2 {
  text-align: center;
}

/* line 342, ../../scss/_typography.scss */
.node-pagina ul {
  list-style-position: inside;
}
/* line 344, ../../scss/_typography.scss */
.node-pagina ul li::before {
  font-family: "Glyphicons Halflings";
  content: "  ";
}
/* line 349, ../../scss/_typography.scss */
.node-pagina figure {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 352, ../../scss/_typography.scss */
.node-pagina figure figcaption {
  font-size: 0.85714em;
  line-height: 1.75em;
  text-align: center;
}

/* line 359, ../../scss/_typography.scss */
.noticia,
.blog {
  font-family: 'Merriweather', serif;
  text-align: justify;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-bottom: 0;
  /*
  &.teaser::after {
    font-family: "kingthings_flourishesregular";
    content: "O";
    @include adjust-font-size-to(36px);
    text-shadow: 0 1px 0 white;
  }
  */
}
/* line 366, ../../scss/_typography.scss */
.noticia header,
.blog header {
  margin-bottom: 0.5em;
  text-align: center;
}
/* line 369, ../../scss/_typography.scss */
.noticia header h1,
.blog header h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 375, ../../scss/_typography.scss */
.noticia header .blog-meta,
.noticia header .noticia-meta,
.blog header .blog-meta,
.blog header .noticia-meta {
  text-align: center;
  font-style: italic;
  font-size: 0.85714em;
  line-height: 1.75em;
}
/* line 382, ../../scss/_typography.scss */
.noticia header .entradilla p,
.blog header .entradilla p {
  text-align: center;
  font-weight: 300;
  font-size: 0.85714em;
  line-height: 1.75em;
}
/* line 389, ../../scss/_typography.scss */
.noticia p,
.blog p {
  text-align: justify;
}
/* line 392, ../../scss/_typography.scss */
.noticia figure,
.blog figure {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 394, ../../scss/_typography.scss */
.noticia figure img,
.blog figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
/* line 401, ../../scss/_typography.scss */
.noticia figure figcaption,
.blog figure figcaption {
  font-size: 0.85714em;
  line-height: 1.75em;
  text-align: center;
}
/* line 407, ../../scss/_typography.scss */
.noticia .field-name-body img,
.blog .field-name-body img {
  display: block;
  margin: auto;
  max-width: 100%;
}
/* line 413, ../../scss/_typography.scss */
.noticia .links,
.blog .links {
  text-align: center;
  font-size: 0.85714em;
  line-height: 1.75em;
}
/* line 416, ../../scss/_typography.scss */
.noticia .links.inline,
.blog .links.inline {
  display: block;
}

/* line 430, ../../scss/_typography.scss */
.teaser {
  border-bottom: solid 1px #dddddd;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 433, ../../scss/_typography.scss */
.teaser header {
  text-align: left;
}
/* line 435, ../../scss/_typography.scss */
.teaser header h1 {
  font-size: 1.42857em;
  line-height: 2.1em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 441, ../../scss/_typography.scss */
.teaser header .blog-meta,
.teaser header .noticia-meta {
  text-align: left;
}
/* line 446, ../../scss/_typography.scss */
.teaser header .entradilla p {
  text-align: left;
}
/* line 451, ../../scss/_typography.scss */
.teaser .field-name-body {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 454, ../../scss/_typography.scss */
.teaser .links {
  text-align: right;
}

/* line 459, ../../scss/_typography.scss */
.view-id-display-id-page_1 .teaser.blog {
  min-height: 35em;
}

/* line 464, ../../scss/_typography.scss */
.equipo {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  line-height: 1.8em;
}
/* line 467, ../../scss/_typography.scss */
.equipo h1 {
  font-size: 1.42857em;
  line-height: 2.1em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  margin-top: 0;
  font-style: italic;
}

/* line 475, ../../scss/_typography.scss */
.submitted {
  text-transform: lowercase;
}

/* line 16, ../../scss/screen.scss */
.glyphicon {
  padding: 0.5em;
}

/* line 20, ../../scss/screen.scss */
li.leaf {
  padding: 0;
}

/**
 * Navigation
 */
/* line 27, ../../scss/screen.scss */
nav.navbar-default {
  margin-bottom: 0;
  padding-bottom: 30px;
  border: none;
}
/* line 32, ../../scss/screen.scss */
nav.navbar-default .navbar-brand img {
  max-width: 200px;
  margin-top: -7px;
}
@media (max-width: 768px) {
  /* line 32, ../../scss/screen.scss */
  nav.navbar-default .navbar-brand img {
    max-width: 250px;
  }
}
@media (min-width: 992px) {
  /* line 32, ../../scss/screen.scss */
  nav.navbar-default .navbar-brand img {
    max-width: 300px;
  }
}
/* line 43, ../../scss/screen.scss */
nav.navbar-default .navbar-collapse {
  border: none;
}
/* line 48, ../../scss/screen.scss */
nav.navbar-default .navbar-nav > li > a {
  margin: 0;
}

/**
 * Slider
 */
/* line 58, ../../scss/screen.scss */
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0 30px;
}

/* line 63, ../../scss/screen.scss */
.banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}

/* line 68, ../../scss/screen.scss */
.banner {
  width: 100%;
  position: relative;
}

/* line 72, ../../scss/screen.scss */
.tp-caption.mdwawhitebg {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 15px 10px;
  text-shadow: none;
  border-width: 0px;
  border-color: black;
  border-style: none;
}

/**
 * IBEX 35
 */
/* line 90, ../../scss/screen.scss */
#tickerIBEX35 {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 92, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock {
  width: 100% !important;
}
/* line 94, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock .tickerCont {
  width: 100% !important;
}
/* line 97, ../../scss/screen.scss */
#tickerIBEX35 .tickerStock .tickerLogo {
  display: none;
}

/* line 103, ../../scss/screen.scss */
#IBEX35 .logo, #IBEX35 .downloadApp {
  display: none;
}
