
.icon-mdwa-logo:before { content: '\e800'; } /* '' */
.icon-bank:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-spin2:before { content: '\e803'; } /* '' */